@import 'colors.css';

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 20px;
    background-color: var(--color-background);
    background-size: cover;
    position: relative;
  }
  
  h1 {
    color: #434BD9;
  }

  .nav-button {
    float: right;
    font-size: 16px;
    text-decoration: none;
    color: #333;
    padding: 5px 10px;
    border: 1px solid #333;
    border-radius: 4px;
  }
  
  form {
    margin-bottom: 20px;
  }
  
  label {
    font-weight: bold;
  }
  
  input[type="text"] {
    width: 25%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }

  #tagsLabel {
    display: block;
    margin-bottom: 5px;
  }
  
  #tagsTextarea {
    width: 40%;
    height: 1.3em;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: none; /* Disable textarea resizing */
  }
  
  button[type="button"] {
    background-color: #434BD9;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  #create-presentation-button {
    background-color: #434BD9;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  button[type="submit"] {
    background-color: #A0F294;
  }
  
  #slides-container textarea {
    width: 50%;
    height: 100px;
    padding: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  #preview-container {
    margin-top: 20px;
  }
  
  .preview-slide {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
  }
  