@import 'colors.css';

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  background-color: var(--color-background);
  background-size: cover;
  position: relative;
  color: var(--color-text)
}

.navbar {
  background-color: var(--color-accent);
  padding: 15px 30px 15px 15px;
  display: flex;
  align-items: center;
  height: 40px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

main {
  padding: 20px;
}

h1 {
  font-size: 28px;
  color: var(--color-text);
}

.home-button {
  margin-right: 10px;
  font-size: 20px;
  color: var(--color-text);
  text-decoration: none;
  padding: 4px;
  box-sizing: border-box;
  border-radius: 5px;
}

.home-button:hover {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
  text-shadow: 0 0 20px rgba(255, 255, 255, 0.4);
}

label {
  font-weight: bold;
}

input[type="text"] {
  width: 25%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button[type="button"] {
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

#add-slide {
  background-color: var(--color-warning);
  min-width: 100px;
  padding: 10px 20px;
}

#add-slide:hover {
  background-color: #F2BE7E;
  font-weight: 600;
}

.tag {
  background-color: var(--color-secondary);
  min-width: 80px;
  padding: 10px 20px;
}

.tag:hover {
  background-color: #f2b3e1;
  font-weight: 600;
}

#existing-tags-label {
  display: block;
  margin-bottom: 10px;
}

#tags-label {
  display: block;
  margin-bottom: 10px;
}

#tags-textarea {
  width: 40%;
  height: 1.3em;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: none;
}

#create-presentation-button {
  background-color: var(--color-primary);
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  min-height: 40px;
}

#create-presentation-button:hover {
  background-color: rgb(95, 102, 235);
  font-weight: 500;
  box-shadow: 0 0 20px rgba(103, 110, 245, 0.4);
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.4);
}

#slides-container textarea {
  width: 50%;
  height: 100px;
  padding: 10px;
  margin-top: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

form h3 {
  font-size: 20px;
  margin-top: 30px;
  margin-bottom: 10px;
}

.slide {
    position: relative;
    display: flex;
    justify-content: flex-start;
  }
  
  .slide textarea {
    width: 50%;
    height: 100px;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .remove-slide {
    background-color: #ff5a5a;
    color: #fff;
    border: none;
    padding: 0;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    height: 30px;
    width: 30px;
    margin-top: 10px;
    margin-left: -30px;
  }
  
  .remove-slide:hover {
    background-color: #ff4242;
  }
  