@import 'colors.css';

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
  background-color: var(--color-background);
  background-size: cover;
  position: relative;
}

.navbar {
  background-color: var(--color-accent);
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 15px;
  padding-bottom: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.container {
  max-width: 100%;
  margin: 0 auto;
  padding: 20px; 
  border-radius: 8px; 
  color: var(--color-text);
}

h1 {
  display: inline-block;
  font-size: 35px;
  color: var(--color-text);
}

.navButton {
  float: right;
  font-size: 16px;
  text-decoration: none;
  color: #fff;
  padding: 5px 10px;
  background-color: var(--color-primary);
  border: none;
  border-radius: 4px;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: box-shadow 0.3s;
}

.navButton:hover {
  box-shadow: 0 0 20px rgba(84, 92, 248, 0.4);
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.4);
}

#merge-button {
  margin-right: 10px;
}

.table {
  width: 100%;
  border-collapse: collapse;
}

.table th,
.table td {
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

.table th {
  font-size: 18px;
}

#add-header,
#id-header,
#title-header,
#tags-header {
  text-align: left;
}

#actions-header,
.actions {
  text-align: center;
}

.table td input[type="checkbox"] {
  margin-right: 5px;
}

.delete {
  color: var(--color-warning);
  cursor: pointer;
}

.delete:hover {
  color: red;
}

.edit {
  color: var(--color-secondary);
  cursor: pointer;
}

.edit:hover {
  color: #ff66a3;
}

.download {
  color: var(--color-primary);
  cursor: pointer;
}

.download:hover {
  color: blue;
}

.no-presentations {
  text-align: center;
  margin-top: 20px;
  font-style: italic;
  color: #999;
}
